{% extends 'stock/base.html' %}

{% block title %}Ajouter / Modifier Produit{% endblock %}

{% block content %}
<div class="card shadow-sm p-4">
    <h4 class="mb-3">{{ form.instance.pk|yesno:"Modifier le produit,Ajouter un nouveau produit" }}</h4>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <div class="mt-3 d-flex justify-content-between">
            <button type="submit" class="btn btn-success">Enregistrer</button>
            <a href="{% url 'dashboard' %}" class="btn btn-secondary">Annuler</a>
        </div>
    </form>
</div>
{% endblock %}
